@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 30px;
  font-family: "Ms Madi", cursive;
  line-height: 1.5;
  background-color: salmon;

}

h2,
h3 {
  color: goldenrod;
}

em {
  font-weight: bold;
  vertical-align: super;
}

h3 {
  text-align: center;
}

h2.c,
h3.c {
  background-color: aquamarine;
}

q {
  quotes: "«""»";
}

a {
  text-decoration: underline;
}

span.a {
  word-spacing: 50px;
}

span.b {
  writing-mode: vertical-rl;
}

div {
  width: 500px;
  border: 1px solid #000000;
}

.c {
  word-wrap: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

